*, *::before, *::after {
  box-sizing: inherit;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-x: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "CanterBoldShadow";
  src: local("CanterBoldShadow"),
  url("./assets/fonts/Canter Bold Shadow.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "CanterBold";
  src: local("CanterBold"),
  url("./assets/fonts/Canter Bold.otf") format("truetype");
  font-weight: bold;
}


@font-face {
  font-family: "CanterBold3D";
  src: local("CanterBold3D"),
  url("./assets/fonts/Canter Bold 3D.otf") format("truetype");
  font-weight: bold;
}


@font-face {
  font-family: "CanterBoldStrips";
  src: local("CanterBoldStrips"),
  url("./assets/fonts/Canter Bold Strips.otf") format("truetype");
  font-weight: bold;
}


@font-face {
  font-family: "CanterLight";
  src: local("CanterLight"),
  url("./assets/fonts/Canter Light.otf") format("truetype");
  font-weight: auto;
}

@font-face {
  font-family: "CanterOutline";
  src: local("CanterOutline"),
  url("./assets/fonts/Canter Outline.otf") format("truetype");
  font-weight: auto;
}


@font-face {
  font-family: "FlatformLight";
  src: local("FlatformLight"),
  url("./assets/fonts/Flatform_Light.otf") format("truetype");
  font-weight: auto;
}

@font-face {
  font-family: "Flatstock";
  src: local("Flatstock"),
  url("./assets/fonts/Flatstock.ttf") format("truetype");
  font-weight: auto;
}


@font-face {
  font-family: "InterNormal";
  src: local("InterNormal"),
  url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: auto;
}


@font-face {
  font-family: "InterBold";
  src: local("InterBold"),
  url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: auto;
}

@font-face {
  font-family: "InterMedium";
  src: local("InterMedium"),
  url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: auto;
}


@font-face {
  font-family: "InterSemiBold";
  src: local("InterSemiBold"),
  url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: auto;
}